
    /* CSS Reset example */





    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  // Recharge Form css Start
  .recharge-item-form {
    height: 100%;
    max-height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2509803922);
    border-radius: 25px;
    padding: 15px 0px;
    margin: 10px;

    @media screen and (max-width:768px) {
        margin: 15px 0px;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* Limiting form width */
        margin: 0 auto;


        .row-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 10px;
            width: 80%;
            margin: 0px auto;
            @media screen and (max-width:768px) {
                width: 100%;
                margin: 15px auto;
            }

            .circle-container,
            .operator-container,
            .circle-field {
                width: 80% !important;
                margin: auto;
                flex: 1;
                display: flex;
                flex-direction: column;
                position: relative;
                margin-bottom: 15px;
            }

            .circle-container input,
            .operator-container select,
            .circle-field input {
                width: 100% !important;
                padding: 8px;
                box-sizing: border-box;
                border-radius: 10px;
                outline: 1.9px solid #D9D9D9;
            }


            .amount-browse-container {
                width: 80%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
                position: relative;

                .amount-input {
                    width: 100%;

                    input {
                        flex: 1;
                        width: 100% !important;
                        padding: 8px;
                        box-sizing: border-box;
                        border-radius: 10px;
                        outline: 1.9px solid #D9D9D9;
                    }

                    &:active {
                        width: 100%;
                    }

                }

                .browse-plan {
                    flex: 1;
                    position: absolute;
                    right: 0;

                    button {
                        width: 100%;
                        padding: 8px;
                        margin-top: 0px;
                        background-color: #00A9E1;
                        color: white;
                        border: none;
                        cursor: pointer;
                        font-size: 16px;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }
                }

                button {
                    width: 80%;
                    margin: auto;
                    padding: 10px;
                    margin-top: 0px;
                    background-color: #012643;
                    color: white;
                    border: none;
                    cursor: pointer;
                    font-size: 16px;
                    border-radius: 67.64px;
                    margin-top: 10px;
                }

                button:disabled {
                    background-color: lightgray;
                    cursor: not-allowed;
                }
            }

        }

        .error {
            color: red;
            font-size: 12px;
        }

        .error_2 {
            color: red;
            font-size: 12px;
            position: absolute;
            margin-top: 15%;
        }


        label {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 16px;
            color: #888;
            pointer-events: none;
            transition: all 0.2s ease;
            //z-index: 99;
        }

        /* When Input is Focused or Not Empty */
        input:focus+label,
        input:not(:placeholder-shown)+label,
        select:focus+label,
        select:not([value=""])+label {
            top: 0%;
            /* Move label up */
            color: #012643;
            background: #fff;
            padding: 0 5px;
            border-radius: 3px;
        }


        // input:active+label,
        // input:not(:placeholder-shown)+label {
        //     background-color: #000;
        // }

        input:focus,
        select:focus {
            outline: 2.91px solid #012643 !important;
            box-shadow: 0px 0px 8px #021c30;
            background-color: inherit;
            /* Prevent background change */
        }

        select option[value=""][disabled][selected][hidden] {
            display: none;
        }

        
    }
}


.list-card-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 1%;
    color: #012643;
    font-weight: 600;
    padding: 10px 10px;

    .text {
        padding: 0 10px;
        /* Adjust the spacing between the text and lines */
        white-space: nowrap;
        /* Prevents text from wrapping */
    }

    .line {
        width: 70px;
        height: 1px;
        background-color: #DCDCDC;

        /* You can change the color if needed */
        @media screen and (max-width:1040px) {
            width: 40px;
        }

        @media screen and (max-width:992px) {
            width: 30px;
        }
    }
}
    
    
   