/* Reset styles to reduce inconsistencies across browsers */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    line-height: 1.15; /* Improve readability */
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
  }
  