<div class="d-services-list">
    <div class="d-services-list-row">
        @for (item of All_services; track item) {
            <div class="services-list-card">
                <div class="services-card-img">
                    <div class="list-card-heading">
                        <span class="line"></span>
                        <span class="text">{{item.name}}</span>
                        <span class="line"></span>
                    </div>
                        <div class="img-container">
                            @for (subitem of item.List_of_recharges; track $index) {
                            <a [href]="subitem.Urlbase">
                                <div class="img-loop">
                                    <div  *ngIf="subitem.status"  [class]="subitem.classadd">{{subitem.message_eran}}</div>
                                    <img class="center-image" [src]="subitem.center_image" alt="Image">
                                    <div class="bottom-text">{{subitem.bottom_text}}</div>
                                </div>
                            </a>
                        }
                        </div>
                </div>
            </div>
        }
       
    </div>
</div>