header {
  width: 100%;
  height: 57px;
  margin: auto;
  background-color: #012643;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;

  .redmil-logo {
    // width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    .redmil-left {
      display: none;
    }

    .logo {
      height: 82px;

      // @media screen and (max-width:480px) {
      //   height: 82px;
      // }
    }

    .join {
      background: #ffcc00;
      border-radius: 40px;
      padding: 4px 10px;
      font-weight: 600;
    }
  }

  .redmil-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px;

    //all icons code starting
    .redmil-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-right: 2px solid #fff !important;
      padding-right: 10px !important;

      .button_icons {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 6px 8px;
      }
    }

    .redmil-iconss {
      border-right: 2px solid #fff !important;
      height: 32px !important;
    }

    //whatsapp code starting
    .redmil-whatsapp {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 6px;
      cursor: pointer;
      padding: 0px 20px;

      a {
        text-decoration: none;
        color: #fff;
      }
    }

    .mobile-view {
      display: none;
    }

    .mobile-desktop {
      display: block;
    }

    ::ng-deep mat-expansion-panel,
    ng-trigger-bodyExpansion,
    ng-trigger {
      padding: 0px !important;
      /* Add the desired padding on hover */
      transition: padding 0.3s ease;
      /* Smooth transition */
      background-color: transparent !important;
      height: 57px;
      box-shadow: none !important;
      border-radius: 0 !important;

     


      .mat-expansion-panel-header {
        height: 100% !important;
      }

      .mat-expansion-indicator svg {
        width: 24px;
        height: 24px;
        margin: 0 -8px;
        vertical-align: middle;
        fill: #fff !important;
        /* display: var(--mat-expansion-header-indicator-display, none); */
      }
      


      .dheader-link {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 15px;
        color: #fff !important;

        .cashwallet {
          font-size: 10px;
        }

        .cashwalletamount {
          font-size: 15px;
        }
      }
    }


   
  }
  .active-bg {
    background-color: #f0f0f0 !important; /* You can change this color as needed */
  }

  .theme {
    cursor: pointer;
    display: none;
  }



  //Change language button 
  .toggle-container {
    width: 100px;
    height: 36px;
    background-color: #00a9e1;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    margin-right: 15px;

    .toggle-button {
      width: 30px;
      height: 30px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 3px;
      left: 5px;
      transition: left 0.3s ease;
    }
  }


  .toggle-container.active .toggle-button {
    left: 65px;
    /* Move to the right */
  }

  .toggle-container::before {
    content: 'हिंदी ';
    /* Default language */
    position: absolute;
    top: 50%;
    left: 45px;
    /* Position for Hindi */
    transform: translateY(-50%);
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    transition: opacity 0.3s ease;
    opacity: 1;
    /* Initially visible */
  }

  .toggle-container.active::before {
    opacity: 0;
    /* Hide Hindi when active */
  }

  .toggle-container::after {
    content: 'English';
    /* Toggle to English */
    position: absolute;
    top: 50%;
    color: #fff;
    font-weight: 600;
    right: 45px;
    /* Position for English */
    transform: translateY(-50%);
    font-size: 14px;
    transition: opacity 0.3s ease;
    opacity: 0;
    /* Initially hidden */
  }

  .toggle-container.active::after {
    opacity: 1;
    /* Show English when active */
  }

}


@media screen and (max-width:480px) {
  header {
    width: 100%;
    height: 76.67px;
    margin: auto;
    background-color: #012643;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    position: relative;

    .redmil-logo {
      // width: 350px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0px;

      .redmil-left {
        display: block;

        span {
          font-size: 30px;
          color: #fff;
          padding-left: 10px;
          /* z-index: 99; */
          font-weight: 800;
        }
      }

      img {
        width: 95%;
        margin-top: 0px;
        display: none
      }

      .join {
        background: #ffcc00;
        border-radius: 40px;
        padding: 4px 10px;
        font-weight: 600;
      }
    }

    .redmil-right {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 5px;


      ::ng-deep mat-expansion-panel,
      ng-trigger-bodyExpansion,
      ng-trigger {
        display: block !important;
      }

      .mat-expansion-panel-header {
        padding: 0 10px !important;
      }

      .redmil-iconss {
        border-right: px solid #fff !important;
        height: 32px !important;
        display: none !important;
      }

      //all icons code starting
      .redmil-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-right: 0px solid #fff !important;
        padding-right: 10px !important;

        .button_icons {
          display: flex;
          justify-content: center;
          flex-direction: row;
          padding: 8px 8px;
        }
      }

      //whatsapp code starting
      .redmil-whatsapp {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 0px;
        padding: 0px 5px;

        a {
          text-decoration: none;
          color: #fff;
        }

        span {
          font-size: 30px;
          color: #fff;
        }
      }

      .toggle-container {
        display: none !important;
      }
    }

    .mobile-desktop {
      display: none !important;
    }

  }



  //Change language button 
  .toggle-container {
    width: 100px;
    height: 36px;
    background-color: #00a9e1;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    margin-right: 15px;
  }

  .toggle-button {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 5px;
    transition: left 0.3s ease;
  }

  .toggle-container.active .toggle-button {
    left: 65px;
    /* Move to the right */
  }

  .toggle-container::before {
    content: 'हिंदी ';
    /* Default language */
    position: absolute;
    top: 50%;
    left: 45px;
    /* Position for Hindi */
    transform: translateY(-50%);
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    transition: opacity 0.3s ease;
    opacity: 1;
    /* Initially visible */
  }

  .toggle-container.active::before {
    opacity: 0;
    /* Hide Hindi when active */
  }

  .toggle-container::after {
    content: 'English';
    /* Toggle to English */
    position: absolute;
    top: 50%;
    color: #fff;
    font-weight: 600;
    right: 45px;
    /* Position for English */
    transform: translateY(-50%);
    font-size: 14px;
    transition: opacity 0.3s ease;
    opacity: 0;
    /* Initially hidden */
  }

  .toggle-container.active::after {
    opacity: 1;
    /* Show English when active */
  }


}