<header class="flex items-center">
  <div class="redmil-logo">
    <div class="redmil-left">
      <span class="material-symbols-outlined" id="menu-btn" (click)="openMenu()">
        menu
        </span>
    </div>

    <div class="logo">
      <img src="/assets/images/global/logo.svg" alt="">
    </div>
  </div>


  <div class="redmil-right">
    <div class="redmil-icons">
      <button type="button" class="button_icons flex justify-between bg-btn-green text-white rounded-3xl py-1 px-2 space-x-4
                ">
        <span class="material-symbols-outlined text-transparent bg-white  rounded-full" style="color: #03ab00;">
          add
        </span>
        <p class="mobile-desktop">Add Money</p>
      </button>
    </div>

    <mat-accordion>
      <mat-expansion-panel #parent (opened)="panelOpenState=(true)" (closed)="panelOpenState=(false)"
      [ngClass]="{'active-bg': panelOpenState && menuOpenState}"
        [matMenuTriggerFor]="menu" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="dheader-link">
              <div class="dheader-icons"><img src="/assets/images/dashboard/cashwallet.svg" alt=""></div>
              <div class="dheader-text">
                <div class="cashwallet">Cash-wallet-Balance</div>
                <div class="cashwalletamount" style="color: #FFCC00;">₹ 120000.68</div>
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-menu #menu="matMenu" class="matmenu-drop"   
        (menuOpened)="menuOpenState = true" 
        (menuClosed)="menuOpenState = false">
          <button mat-menu-item>
            <img src="/assets/images/dashboard/wallettype1.png" alt="">
            <div class="linkclass">
              <span>Cash Wallet Balance</span>
              <p>₹ 120000.68</p>
            </div>
          </button>
          <button mat-menu-item>
            <img src="/assets/images/dashboard/wallettyp2.png" alt="">
            <div class="linkclass">
              <span>Advance Limit Wallet</span>
              <p>₹ 800</p>
            </div>
          </button>
          <button mat-menu-item>
            <img src="/assets/images/dashboard/wallettype3.png" alt="">
            <div class="linkclass">
              <span>Reward Wallet</span>
              <p>₹ 200</p>
            </div>
          </button>
        </mat-menu>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="redmil-iconss"> </div>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState=(true)" (closed)="panelOpenState=(false)"
        [matMenuTriggerFor]="menu1">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="dheader-link">
              <div class="dheader-icons"><img src="/assets/images/dashboard/user.svg" alt=""></div>
              <div class="dheader-text mobile-desktop">
                <div class="cashwalletamount">Ramesh Pra...</div>
                <div class="cashwallet" style="color: #FFCC00;">Distributor</div>
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-menu #menu1="matMenu" class="matmenu-drop">
          <div class="user_link" mat-menu-item>
            <div class="user_link_icons"><img src="/assets/images/dashboard/user_profile.svg" alt=""></div>
            <div class="user_link_href">My Profile</div>
          </div>

          <div class="user_link" mat-menu-item>
            <div class="user_link_icons"><img src="/assets/images/dashboard/Upgrade.svg" alt=""></div>
            <div class="user_link_href">Upgrade Subscription</div>
          </div>

          <div class="user_link" mat-menu-item>
            <div class="user_link_icons"><img src="/assets/images/dashboard/certificate.svg" alt=""></div>
            <div class="user_link_href">My Certificates</div>
          </div>

          <div class="user_link" mat-menu-item>
            <div class="user_link_icons"><img src="/assets/images/dashboard/crown.svg" alt=""></div>
            <div class="user_link_href">Apply for Distributor/ Franchise</div>
          </div>

          <div class="user_link" mat-menu-item>
            <div class="user_link_icons"><img src="/assets/images/dashboard/delete.svg" alt=""></div>
            <div class="user_link_href">Delete my account</div>
          </div>

          <div class="user_link" mat-menu-item>
            <div class="user_link_icons"><img src="/assets/images/dashboard/logout.svg" alt=""></div>
            <div class="user_link_href">Log out</div>
          </div>

        </mat-menu>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="redmil-iconss"> </div>

    <div class="redmil-whatsapp">
      <img src="/assets/images/dashboard/notification.svg" alt="">
    </div>


 <!-- //theme button code when you impliment then uncomment it -->
    <!-- <div class="theme" (click)="toggleTheme()">
            @if (!isDarkMode) {
                <span class="material-symbols-outlined" style="color: #fff;">
                    light_mode
                    </span>
            }@else {
            <span class="material-symbols-outlined" style="color: #fff;">
                     dark_mode
                </span>
            }
        </div> -->

    <div class="toggle-container" [class.active]="isActive" (click)="toggleLanguage()">
      <div class="toggle-button"></div>
    </div>

  </div>

  
<nav>
  <div class="wrapper">
    <!-- <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn"> -->
      <ul class="nav-links">
          <label for="close-btn" (click)="closeMenu()" class="btn close-btn">
            <i><mat-icon style="color: #fff; margin-left: 115px; z-index: 9;">close</mat-icon></i>
          </label>

          <li><a routerLink="/dashboard"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'DASHBOARD_First.Dashboard' | pchangelanguage }}</a></li>

          <li (click)="toggleDropdown()">
              <a style="cursor: pointer;" class="desktop-item">{{'DASHBOARD_First.Services' | pchangelanguage }}
              <mat-icon class=" arrow_rotate" [class.rotate]="isDropdownOpen" style="margin-top: 5px;">
                  keyboard_arrow_down
                  </mat-icon>
          </a>
              <input type="checkbox" id="showDropd" hidden>
              <label for="showDropd" class="mobile-item" (click)="toggleDropdown()">{{'DASHBOARD_First.Services' | pchangelanguage }}<mat-icon class=" arrow_rotate" [class.rotate]="isDropdownOpen" style="margin-top: 5px;">
                keyboard_arrow_down
                </mat-icon></label>
              <ul class="drop-menu" [class.show]="isDropdownOpen">
                  <li class="demo-section"><a href="#" id="icons" target="_blank">
                          <img src="assets/icons/html5.svg" alt="HTML Solution" width="50px" height="50px">
                          <span> Passbook_1</span>
                      </a>
                  </li>

                  <li><a href="#" target="_blank" id="icons">
                          <img src="assets/icons/css.svg" alt="CSS Solution" width="50px" height="50px">
                          <span> CSS Hindi Course</span>
                      </a>
                  </li>

                  <li><a href="#" target="_blank" id="icons">
                          <img src="assets/icons/js.svg" alt="JavaScript Solution" width="50px" height="50px">
                          <span>JavaScript Hindi Course </span>
                      </a>
                  </li>

                  
                  <li><a href="#" id="icons">
                      <img src="assets/icons/typescript.svg" alt="MongoDB " width="50px" height="50px">
                      <span>TypeScript Hindi Course</span>
                  </a>
                  </li>

                  <li><a href="#" id="icons">
                          <img src="assets/icons/angular.svg" alt="Angular Solution" width="50px" height="50px">
                          <span>Angular Hindi Course</span>
                      </a>
                  </li>

                  <li><a href="#" target="_blank" id="icons">
                          <img src="assets/icons/node-js.svg" alt="Node Js" width="50px" height="50px">
                          <span>Node js Hindi Course</span>
                      </a>
                  </li>

                  <li><a href="#" id="icons">
                          <img src="assets/icons/mongodb.svg" alt="MongoDB " width="50px" height="50px">
                          <span>MongoDB Hindi Course</span>
                      </a>
                  </li>

                  <li><a href="#" id="icons">
                          <img src="assets/icons/excel.svg" alt="MongoDB " width="50px" height="50px">
                          <span>Ad.Excel Hindi Course</span>
                      </a>
                  </li>
              </ul>
          </li>

          <li><a routerLink="/passbook" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'DASHBOARD_First.Passbook' | pchangelanguage }}</a></li>
          <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'DASHBOARD_First.My_Team_Dashboard' | pchangelanguage }}</a></li>
          <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'DASHBOARD_First.My_Business_Report' | pchangelanguage }}</a></li>
          <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'DASHBOARD_First.Commission_Sheet' | pchangelanguage }}</a></li>
          <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'DASHBOARD_First.How_to_work' | pchangelanguage }}</a></li>
          <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{'DASHBOARD_First.Redmil_Saarthi' | pchangelanguage }}</a></li>

          
          <li (click)="toggleDropdown1()">
              <a style="cursor: pointer;" class="desktop-item">{{'DASHBOARD_First.user_info_policies' | pchangelanguage }}
              <mat-icon class="arrow_rotate" [class.rotate1]="isDropdownOpen1" style="margin-top: 5px;">
                  keyboard_arrow_down
                  </mat-icon>
          </a>
              <input type="checkbox" id="showDropd" hidden>
              <label for="showDropd" class="mobile-item" (click)="toggleDropdown1()">{{'DASHBOARD_First.user_info_policies' | pchangelanguage }}<mat-icon class=" arrow_rotate" [class.rotate]="isDropdownOpen" style="margin-top: 5px;">
                keyboard_arrow_down
                </mat-icon></label>
              <ul class="drop-menu" [class.show1]="isDropdownOpen1">
                  <li class="demo-section"><a href="#" id="icons" target="_blank">
                          <img src="assets/icons/html5.svg" alt="HTML Solution" width="50px" height="50px">
                          <span>  Hindi Course</span>
                      </a>
                  </li>

                  <li><a href="#" target="_blank" id="icons">
                          <img src="assets/icons/css.svg" alt="CSS Solution" width="50px" height="50px">
                          <span> Hindi Course</span>
                      </a>
                  </li>

                  <li><a href="#" target="_blank" id="icons">
                          <img src="assets/icons/js.svg" alt="JavaScript Solution" width="50px" height="50px">
                          <span> Hindi Course </span>
                      </a>
                  </li>

                  
                  <li><a href="#" id="icons">
                      <img src="assets/icons/typescript.svg" alt="MongoDB " width="50px" height="50px">
                      <span> Hindi Course</span>
                  </a>
                  </li>

                  <li><a href="#" id="icons">
                          <img src="assets/icons/angular.svg" alt="Angular Solution" width="50px" height="50px">
                          <span> Hindi Course</span>
                      </a>
                  </li>
              </ul>
          </li>
      </ul>
      <label  for="menu-btn" class="btn menu-btn"><i><mat-icon>menu</mat-icon></i></label>
  </div>
</nav>
</header>

<!-- <ng-lottie [options]="options" (animationCreated)="animationCreated($event)" />  -->


