header {
  width: 100%;
  height: 57px;
  margin: auto;
  background-color: #012643;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;

  .redmil-logo {
    // width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    .redmil-left {
      display: none;
    }

    .logo {
      height: 82px;

      // @media screen and (max-width:480px) {
      //   height: 82px;
      // }
    }

    .join {
      background: #ffcc00;
      border-radius: 40px;
      padding: 4px 10px;
      font-weight: 600;
    }
  }

  .redmil-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px;

    //all icons code starting
    .redmil-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-right: 2px solid #fff !important;
      padding-right: 10px !important;

      .button_icons {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 6px 8px;
      }
    }

    .redmil-iconss {
      border-right: 2px solid #fff !important;
      height: 32px !important;
    }

    //whatsapp code starting
    .redmil-whatsapp {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 6px;
      cursor: pointer;
      padding: 0px 20px;

      a {
        text-decoration: none;
        color: #fff;
      }
    }

    .mobile-view {
      display: none;
    }

    .mobile-desktop {
      display: block;
    }

    ::ng-deep mat-expansion-panel,
    ng-trigger-bodyExpansion,
    ng-trigger {
      padding: 0px !important;
      /* Add the desired padding on hover */
      transition: padding 0.3s ease;
      /* Smooth transition */
      background-color: transparent !important;
      height: 57px;
      box-shadow: none !important;
      border-radius: 0 !important;

     


      .mat-expansion-panel-header {
        height: 100% !important;
      }

      .mat-expansion-indicator svg {
        width: 24px;
        height: 24px;
        margin: 0 -8px;
        vertical-align: middle;
        fill: #fff !important;
        /* display: var(--mat-expansion-header-indicator-display, none); */
      }
      


      .dheader-link {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 15px;
        color: #fff !important;

        .cashwallet {
          font-size: 10px;
        }

        .cashwalletamount {
          font-size: 15px;
        }
      }
    }
   
  }
  .active-bg {
    background-color: #f0f0f0 !important; /* You can change this color as needed */
  }

  .theme {
    cursor: pointer;
    display: none;
  }



  //Change language button 
  .toggle-container {
    width: 100px;
    height: 36px;
    background-color: #00a9e1;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    margin-right: 15px;

    .toggle-button {
      width: 30px;
      height: 30px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 3px;
      left: 5px;
      transition: left 0.3s ease;
    }
  }


  .toggle-container.active .toggle-button {
    left: 65px;
    /* Move to the right */
  }

  .toggle-container::before {
    content: 'हिंदी ';
    /* Default language */
    position: absolute;
    top: 50%;
    left: 45px;
    /* Position for Hindi */
    transform: translateY(-50%);
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    transition: opacity 0.3s ease;
    opacity: 1;
    /* Initially visible */
  }

  .toggle-container.active::before {
    opacity: 0;
    /* Hide Hindi when active */
  }

  .toggle-container::after {
    content: 'English';
    /* Toggle to English */
    position: absolute;
    top: 50%;
    color: #fff;
    font-weight: 600;
    right: 45px;
    /* Position for English */
    transform: translateY(-50%);
    font-size: 14px;
    transition: opacity 0.3s ease;
    opacity: 0;
    /* Initially hidden */
  }

  .toggle-container.active::after {
    opacity: 1;
    /* Show English when active */
  }


  
}


@media screen and (max-width:480px) {
  header {
    width: 100%;
    height: 76.67px;
    margin: auto;
    background-color: #012643;
    position: fixed !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  

    .redmil-logo {
      // width: 350px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0px;

      .redmil-left {
        display: block;
        width: 100%;
        margin-top: 10px;
        span {
          font-size: 30px;
          color: #fff;
          padding-left: 10px;
          /* z-index: 99; */
          font-weight: 800;
        }
      }

      img {
        width: 95%;
        margin-top: 0px;
        display: none
      }

      .join {
        background: #ffcc00;
        border-radius: 40px;
        padding: 4px 10px;
        font-weight: 600;
      }
    }

    .redmil-right {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 5px;


      ::ng-deep mat-expansion-panel,
      ng-trigger-bodyExpansion,
      ng-trigger {
        display: block !important;
      }

      .mat-expansion-panel-header {
        padding: 0 10px !important;
      }

      .redmil-iconss {
        border-right: px solid #fff !important;
        height: 32px !important;
        display: none !important;
      }

      //all icons code starting
      .redmil-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-right: 0px solid #fff !important;
        padding-right: 10px !important;

        .button_icons {
          display: flex;
          justify-content: center;
          flex-direction: row;
          padding: 8px 8px;
        }
      }

      //whatsapp code starting
      .redmil-whatsapp {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 0px;
        padding: 0px 10px 0px 0px;

        a {
          text-decoration: none;
          color: #fff;
        }

        span {
          font-size: 30px;
          color: #fff;
        }
      }

      .toggle-container {
        display: none !important;
      }
    }

    .mobile-desktop {
      display: none !important;
    }

  }



  //Change language button 
  .toggle-container {
    width: 100px;
    height: 36px;
    background-color: #00a9e1;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    margin-right: 15px;
  }

  .toggle-button {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 5px;
    transition: left 0.3s ease;
  }

  .toggle-container.active .toggle-button {
    left: 65px;
    /* Move to the right */
  }

  .toggle-container::before {
    content: 'हिंदी ';
    /* Default language */
    position: absolute;
    top: 50%;
    left: 45px;
    /* Position for Hindi */
    transform: translateY(-50%);
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    transition: opacity 0.3s ease;
    opacity: 1;
    /* Initially visible */
  }

  .toggle-container.active::before {
    opacity: 0;
    /* Hide Hindi when active */
  }

  .toggle-container::after {
    content: 'English';
    /* Toggle to English */
    position: absolute;
    top: 50%;
    color: #fff;
    font-weight: 600;
    right: 45px;
    /* Position for English */
    transform: translateY(-50%);
    font-size: 14px;
    transition: opacity 0.3s ease;
    opacity: 0;
    /* Initially hidden */
  }

  .toggle-container.active::after {
    opacity: 1;
    /* Show English when active */
  }


}




//Submenu codeing start here..
nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #fff !important;
  box-shadow: 0px 0px 5px transparent;
  border-bottom: 2px solid #CACACA;
  margin-top: 110px;
  

  .wrapper {
    position: relative;
    max-width: 100%;
    padding: 0px 0px;
    height: 52px;
    line-height:52px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .btn {
      color: #444;
      font-size: 20px;
      cursor: pointer;
      display: none;

      .close-btn {
        position: absolute;
        right: 30px;
        top: 10px;
      }
    }

    .logo {
      width: 230px;
      height: 75px;
      display: contents;

      img {
        width: 200px;
        height: 45px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }


    .nav-links {
      display: inline-flex;

      li {
        list-style: none;
        margin: 0px 0px;

        a {
          color: #000000;
          text-decoration: none;
          font-size: 14px;
          padding: 0px 15px;
          transition: all 0.3s ease;
          display: inline-block;

          &:hover{
            background: #00A9E1;
            color: #fff;
            font-weight: 400;
            // border-bottom: 2px solid #00A9E1;

            &::after{
              content: "";
              position: absolute;
              width: 30px;
              height: 0px;
              top: 25px;
              transform: rotate(90deg);
              background-color: transparent;
              border-bottom: 2px solid transparent;
            }
          }

          // &::after{
          //   content: "";
          //   position: absolute;
          //   width: 30px;
          //   height: 0px;
          //   top: 25px;
          //   transform: rotate(90deg);
          //   background-color: #7489C6;
          //   border-bottom: 2px solid #fff;
          // }
         
        }

        #icons {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          img {
            width: 35px;
            height: 35px;
            margin-right: 5px;
            padding: 5px;
          }
        }

        mat-icon {
          -webkit-user-select: none;
          user-select: none;
          background-repeat: no-repeat;
          display: inline-block;
          fill: currentColor;
          height: 18px;
          width: 24px;
          overflow: hidden;
          color: #000000;
        }
      }
    }
  }


  .mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    // box-shadow: 0px 0px 5px #000000;
  }

  .mega-box.open {
    opacity: 1;
    visibility: visible;
    top: 60px; /* adjust the position when it's open */
  }
  
  .mega-box .content {
    background: #fff;
    padding: 30px 10px;
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100;
    border-radius: 5px;
  }
  
  .mega-box .content .row {
    // width: calc(25% - 30px);
    // line-height: 45px;
  
    line-height: 30px;
    flex-basis: 16%;
    margin: 0px 10px;
  }
  
  .content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .mega-box .content .import-heading {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
  }
  
  .mega-box .content .import-heading::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 65px;
    background: #26A69A;
  }
  
  .content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(255, 255, 255, 0.09);
  }
  
  .row .mega-links li {
    padding: 0 20px;
    margin: 5px 0px;
  }
  
  .row .mega-links li a {
    padding: 0px;
    padding: 0 20px;
    color: #000;
    font-size: 14px;
    display: block;
  }
  
  .row .mega-links li a:hover {
    color: #fff;
    background-color: #00A9E1;
    font-weight: bold;
   
  }
  
  .mega-our {
    margin: 10px 0px;
  }
    

  /* Hide dropdown by default */
.drop-menu {
  display: none;
  position: absolute;
  background: #fff;
  max-width: 100%;
  line-height: 45px;
  top: 62px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #000000;
  padding: 5px 0px;
  transition: all 0.5s ease-in;

  a{
      width: 100%;
  display: block;
  padding: 0px 5px;
  font-weight: 400;
  border-radius: 0px;
  color: #fff;
  }

}

/* Show dropdown when 'show' class is applied */
.drop-menu.show {
  display: block;
}

 /* Show dropdown when 'show' class is applied */
 .drop-menu.show1 {
  display: block;
}

/* Default state for the icon */
mat-icon {
  transition: transform 0.3s ease; /* Smooth transition */
}

.arrow_rotate1{
  transition: transform 0.3s ease; /* Smooth transition */
}

.rotate1 {
  transform: rotate(180deg);
}
/* When dropdown is open, rotate the icon by 180 degrees */
.rotate {
  transform: rotate(180deg);
}

//Desktop view Display None
.nav-links .mobile-item {
  display: none;
}
}

@media screen and (max-width: 992px) {
  nav{
    position: absolute;
    z-index: 00;
    width: 100%;
    height: 65px;
    background-color: transparent !important;
    box-shadow: 0px 0px 5px transparent;
    border-bottom: 0px solid #00A9E1;
    margin-top: -65px;

    .wrapper{
      padding: 0px 0px;
      .btn {
        display: none;
        padding-right: 25px;
        color: #fff;
      }
    
      .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 70%;
        top: 0;
        left: -100%;
        background: #072538;
        display: inline !important;
        padding: 50px 0px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease;
      }
    }


    
  .nav-links li {
    margin: 10px 0px !important;
    padding: 0 10px;
    display: block;
    font-size: 15px;

    a {
      padding: 0 10px !important;
      display: block;
      font-size: 15px !important;
      color: #fff !important;
      border-radius: 10px !important;
    }

    .mobile-item {
      display: block;
      color: #fff;
      font-size: 15px;
      padding-left: 10px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;

      &:hover {
        background: #00a9e1;
        color: #fff;
      }
    }
  }


  .drop-menu {
      position: relative;
      top: 0;
      width: 100%;
      background: transparent; /* Adjust background if necessary */
      padding: 0px;
      box-shadow: none;

      li {
        display: block;
        padding: 0px 0;
        margin: 0;

        a {
          border-radius: 5px;
          font-size: 15px;
        }
      }
    }

  .nav-links .desktop-item {
    display: none !important;
  }


  // #showMega:checked~.mega-box {
  //   max-height: 100%;
  // }


  .mega-box {
    position: relative;
    top: 0px !important;
    opacity: 0;
    visibility: hidden;
    display: none; /* Initially hidden */
    transition: all 0.3s ease;
    padding: 0px 0px !important;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
  }
  .mega-box.open {
    opacity: 1;
    visibility: visible;
    display: block; /* Show on click */
  }

  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 0px 0px 0 2px;
    background-color: transparent !important;
  }

  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }

  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }

  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }

  .row .mega-links li {
    margin: 0;
  }

  .content .row header {
    font-size: 19px;
  }
  .import-heading{
    padding: 10px 0px;
  }

  //  /* custom scroll bar */
  //  ::-webkit-scrollbar {
  //   width: 10px;
  // }

  // ::-webkit-scrollbar-track {
  //   background: transparent;
  // }

  // ::-webkit-scrollbar-thumb {
  //   background: #fff;
  //   border-radius: 10px;
  // }

  #menu-btn:checked~.nav-links {
    left: 0%;
  }

  #menu-btn:checked~.btn.menu-btn {
    display: none;
    color: #fff;
  }

  #close-btn:checked~.btn.menu-btn {
    display: block;
    color: #fff;
  }

  
  .close-btn {
    display: block;
    color: #fff;
    &:hover {
      cursor: pointer;
  }
}

}

}

