<header class="flex items-center">
  <div class="redmil-logo">
    <div class="redmil-left">
      <span class="material-symbols-outlined" id="menu-btn" (click)="openMenu()">
        menu
      </span>
    </div>

    <div class="logo">
      <img src="/assets/images/global/logo.svg" alt="">
    </div>
  </div>


  <div class="redmil-right">
    <div class="redmil-icons">
      <button type="button" class="button_icons flex justify-between bg-btn-green text-white rounded-3xl py-1 px-2 space-x-2
                ">
        <span class="material-symbols-outlined text-transparent bg-white  rounded-full" style="color: #03ab00;">
          add
        </span>
        <p class="mobile-desktop">Add Money</p>
      </button>
    </div>

    <mat-accordion>
      <mat-expansion-panel #parent (opened)="panelOpenState=(true)" (closed)="panelOpenState=(false)"
        [ngClass]="{'active-bg': panelOpenState && menuOpenState}" [matMenuTriggerFor]="menu">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="dheader-link">
              <div class="dheader-icons"><img src="/assets/images/dashboard/cashwallet.svg" alt=""></div>
              <div class="dheader-text">
                <div class="cashwallet">Cash-wallet-Balance</div>
                <div class="cashwalletamount" style="color: #FFCC00;">₹ {{GetBalanceData[0]?.MainBal}}</div>
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-menu #menu="matMenu" class="matmenu-drop" (menuOpened)="menuOpenState = true"
          (menuClosed)="menuOpenState = false">
          <button mat-menu-item>
            <img src="/assets/images/dashboard/wallettype1.png" alt="">
            <div class="linkclass">
              <span>Cash Wallet Balance</span>
              <p>₹ {{GetBalanceData[0]?.MainBal}}</p>
            </div>
          </button>
          <button mat-menu-item>
            <img src="/assets/images/dashboard/wallettyp2.png" alt="">
            <div class="linkclass">
              <span>Advance Limit Wallet</span>
              <p>₹ {{GetBalanceData[0]?.AdBal}}</p>
            </div>
          </button>
          <button mat-menu-item>
            <img src="/assets/images/dashboard/wallettype3.png" alt="">
            <div class="linkclass">
              <span>Reward Wallet</span>
              <p>₹ {{GetBalanceData[0]?.REReward}}</p>
            </div>
          </button>
        </mat-menu>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="redmil-iconss"> </div>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState=(true)" (closed)="panelOpenState=(false)"
        [matMenuTriggerFor]="menu1">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="dheader-link">
              <div class="dheader-icons"><img src="/assets/images/dashboard/user.svg" alt=""></div>
              <div class="dheader-text mobile-desktop">
                <div class="cashwalletamount">{{ UserNameheaderonset | datalimit:10}}</div>
                <div class="cashwallet" style="color: #FFCC00;">{{PlanName}}</div>
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-menu #menu1="matMenu" class="matmenu-drop">
          <div class="user_link" mat-menu-item>
            <div class="user_link_icons"><img src="/assets/images/dashboard/user_profile.svg" alt=""></div>
            <div class="user_link_href">My Profile</div>
          </div>

          <div class="user_link" mat-menu-item>
            <div class="user_link_icons"><img src="/assets/images/dashboard/Upgrade.svg" alt=""></div>
            <div class="user_link_href">Upgrade Subscription</div>
          </div>

          <div class="user_link" mat-menu-item>
            <div class="user_link_icons"><img src="/assets/images/dashboard/certificate.svg" alt=""></div>
            <div class="user_link_href">My Certificates</div>
          </div>

          <div class="user_link" mat-menu-item>
            <div class="user_link_icons"><img src="/assets/images/dashboard/crown.svg" alt=""></div>
            <div class="user_link_href">Apply for Distributor/ Franchise</div>
          </div>

          <div class="user_link" mat-menu-item>
            <div class="user_link_icons"><img src="/assets/images/dashboard/delete.svg" alt=""></div>
            <div class="user_link_href">Delete my account</div>
          </div>

          <div class="user_link" mat-menu-item>
            <div class="user_link_icons"><img src="/assets/images/dashboard/logout.svg" alt=""></div>
            <div class="user_link_href" (click)="RemoveSession_Local()">Log out</div>
          </div>

        </mat-menu>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- this is a div for line only don't remove it -->
    <div class="redmil-iconss"> </div>

    <!-- this is a div conatiner for Notification icons don't remove it  -->
    <div class="redmil-whatsapp">
      <div class="notification-wrapper" [matMenuTriggerFor]="notificationMenu">
        <mat-icon role="img" matBadge="{{NotificationCount}}" class="mat-icon notranslate mat-badge" aria-hidden="false">notifications</mat-icon>
      </div>
      <mat-menu #notificationMenu="matMenu"class="notification-menu">
        <h1 class="text-center p-2"><strong>Your offical notifications are here</strong></h1>
        <ng-template matMenuContent>
          <div *ngFor="let notification of notificationsData" >
            <a href="">
            <div class="notification-item">
            <img [src]="notificationsDataPath + notification.Image" alt="{{ notification?.Image }}" class="notification-image">
            
            <div class="notification-details gap-5">
              <div class="notification-title">{{ notification?.Title }}</div>
              <div class="flex justify-start gap-5">
                <div class="notification-author">By Redmil</div>
                <div class="notification-author">Date {{notification?.CreatedOn | date:'yyyy-MM-dd' }}</div>
              </div>
              <div class="notification-message">{{ notification?.Body}}</div>
            </div>
            
            <!-- <a [href]="notification.link" class="notification-link">View</a> -->
          </div>
        </a>
        </div>
        </ng-template>
      </mat-menu>
    </div>


    <!-- //theme button code when you impliment then uncomment it -->
    <!-- <div class="theme" (click)="toggleTheme()">
            @if (!isDarkMode) {
                <span class="material-symbols-outlined" style="color: #fff;">
                    light_mode
                    </span>
            }@else {
            <span class="material-symbols-outlined" style="color: #fff;">
                     dark_mode
                </span>
            }
        </div> -->

   <!-- this is a  toggle menu button for translate language only don't remove it -->
    <div class="toggle-container" [class.active]="isActive" (click)="toggleLanguage()">
      <div class="toggle-button"></div>
    </div>

  </div>


  <!-- //Submenu List and Html -->
  <nav>
    <div class="wrapper">
      <!-- <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn"> -->
      <ul class="nav-links">
        <!-- <label for="close-btn" class="btn close-btn">
        <mat-icon style="color: #fff; margin-left: 115px; z-index: 99;">close</mat-icon>
        </label> -->

        <div class="mobile-menu-tab">
          <img src="/assets/images/global/logo.svg" alt="">
          <mat-icon style="color: #fff;  z-index: 99;" (click)="closeMenu()">close</mat-icon>
        </div>
        <li><a routerLink="/dashboard" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{'DASHBOARD_First.Dashboard' | pchangelanguage }}</a></li>


        <li (click)="toggleDropdownMega()">
          <a style="cursor: pointer;" class="desktop-item">{{'DASHBOARD_First.Services' | pchangelanguage }} <mat-icon
              class=" arrow_rotate" [class.rotate1]="isDropdownOpenMega" style="margin-top: 5px;">
              keyboard_arrow_down
            </mat-icon></a>
          <input type="checkbox" id="showMega" style="display: none;">
          <label for="showMega" (click)="toggleDropdownMega()" class="mobile-item">{{'DASHBOARD_First.Services' |
            pchangelanguage }} <mat-icon class=" arrow_rotate" [class.rotate1]="isDropdownOpenMega"
              style="margin-top: 5px;">
              keyboard_arrow_down
            </mat-icon></label>
          <div class="mega-box" [class.open]="isDropdownOpenMega">
            <div class="content">


              <div class="row">
                <h4 class="import-heading"><b>{{'DASHBOARD_menu_services.BankingServices' | pchangelanguage}}</b></h4>
                <ul class="mega-links">
                  <li title="Aadhar ATM"><a href="/" id="icons">
                      <img src="" alt="Aadhar ATM"><span>{{'DASHBOARD_menu_services.AadharATM' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Aadhaar Pay"><a href="/" id="icons">
                      <img src="" alt="Aadhaar Pay"><span>{{'DASHBOARD_menu_services.AadhaarPay' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="DMT 2.0"><a href="/" id="icons">
                      <img src="" alt="DMT 2.0"><span>{{'DASHBOARD_menu_services.DMT' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Micro ATM"><a href="/" id="icons">
                      <img src="/assets/images/services/MicroATM.svg" alt="Micro ATM"><span>{{'DASHBOARD_menu_services.MicroATM' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="DMT Yes Bank"><a href="/" id="icons">
                      <img src="/assets/images/services/DMT.svg" alt="DMT Yes Bank"><span>{{'DASHBOARD_menu_services.DMTYesBank' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Credit Card 2.0"><a href="/" id="icons">
                      <img src="" alt="Credit Card 2.0"><span>{{'DASHBOARD_menu_services.CreditCard' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Saving Account"><a href="/" id="icons">
                      <img src="/assets/images/services/SavingAccount.svg" alt="Saving Account"><span>{{'DASHBOARD_menu_services.SavingAccount' | pchangelanguage}}</span>
                    </a>
                  </li>


                  <li title="Salary Account"><a href="/" id="icons">
                      <img src="" alt="Salary Account"><span>{{'DASHBOARD_menu_services.SalaryAccount' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Current Account"><a href="/" id="icons">
                      <img src="/assets/images/services/CurrentAccount.svg" alt="Current Account"><span>{{'DASHBOARD_menu_services.CurrentAccount' | pchangelanguage}}</span>
                    </a>
                  </li>


                  <li title="Individual Current Account"><a href="/" id="icons">
                      <img src="/assets/images/services/IndividualCurrentAccount.svg" alt="Individual Current Account"><span>{{'DASHBOARD_menu_services.IndividualCurrentAccount' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Aadhaar Cash Deposit"><a href="/" id="icons">
                      <img src="/assets/images/services/AadhaarCashDeposit.svg" alt="Aadhaar Cash Deposit"><span>{{'DASHBOARD_menu_services.AadhaarCashDeposit' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Credit Card"><a href="/" id="icons">
                      <img src="" alt="Credit Card"><span>{{'DASHBOARD_menu_services.CreditCardSingle' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="EMI Cards"><a href="/" id="icons">
                      <img src="/assets/images/services/EMICards.svg" alt="EMI Cards"><span>{{'DASHBOARD_menu_services.EMICards' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Cash Collection"><a href="/" id="icons">
                      <img src="/assets/images/services/CashCollection.svg" alt="Cash Collection"><span>{{'DASHBOARD_menu_services.CashCollection' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Credit Card Bill Payment"><a href="/" id="icons">
                      <img src="/assets/images/services/CreditCardBillPayment.svg" alt="Credit Card Bill Payment"><span>{{'DASHBOARD_menu_services.CreditCardBillPayment' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Upi Onboarding"><a href="/" id="icons">
                      <img src="" alt="Upi Onboarding"><span>{{'DASHBOARD_menu_services.UPIOnboarding' | pchangelanguage}}</span>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="row">
                <h4 class="import-heading"><b>{{'DASHBOARD_menu_services.Recharges' | pchangelanguage}}</b></h4>
                <ul class="mega-links">
                  <li title="Mobile Prepaid"><a routerLink="/recharge/mobile-prepaid" id="icons">
                      <img src="/assets/images/dashboard/Mobile-Prepaid.png" alt="Mobile Prepaid"><span>{{'DASHBOARD_menu_services.MobilePrepaid' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Mobile Postpaid"><a routerLink="/recharge/mobile-postpaid" id="icons">
                      <img src="/assets/images/services/MobilePostpaid.svg" alt="Mobile Postpaid"><span>{{'DASHBOARD_menu_services.MobilePostpaid' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Mobile Postpaid"><a routerLink="/recharge/dth-recharge" id="icons">
                      <img src="/assets/images/services/DTHRecharge.svg" alt="Mobile Postpaid"><span>{{'DASHBOARD_menu_services.DTHRecharge' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="FastagRecharge "><a routerLink="/recharge/fastag-recharge" id="icons">
                      <img src="/assets/images/services/FastagRecharge.svg" alt="FastagRecharge"><span>{{'DASHBOARD_menu_services.FastagRecharge' | pchangelanguage}}</span>
                    </a>
                  </li>

                </ul>

                <h4 class="import-heading"><b>{{'DASHBOARD_menu_services.PaymentServices' | pchangelanguage}}</b></h4>
                <ul class="mega-links">
                  <li title="Accept Card payment (POS)"><a href="/" id="icons">
                      <img src="" alt="Accept Card payment (POS)"><span>{{'DASHBOARD_menu_services.AcceptCardPaymentPOS' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="SMS Payments"><a href="/" id="icons">
                      <img src="" alt="SMS Payments"><span>{{'DASHBOARD_menu_services.SMSPayments' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Hisab Kitab"><a href="/" id="icons">
                      <img src="" alt="Hisab Kitab"><span>{{'DASHBOARD_menu_services.HisabKitab' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Buy Now Pay Later"><a href="/" id="icons">
                      <img src="/assets/images/services/BNPL.svg" alt="Buy Now Pay Later"><span>{{'DASHBOARD_menu_services.BuyNowPayLater' | pchangelanguage}}</span>
                    </a>
                  </li>

                </ul>

                <h4 class="import-heading"><b>{{'DASHBOARD_menu_services.DistributionServices' | pchangelanguage}}</b></h4>
                <ul class="mega-links">
                  <li title="Courier Services"><a href="/" id="icons">
                      <img src="" alt="Courier Services"><span>{{'DASHBOARD_menu_services.CourierServices' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Amazon Pay Gift Card"><a href="/" id="icons">
                      <img src="" alt="Amazon Pay Gift Card"><span>{{'DASHBOARD_menu_services.AmazonPayGiftCard' | pchangelanguage}}</span>
                    </a>
                  </li>
                </ul>
              </div>


              <div class="row">
                <h4 class="import-heading"><b>{{'DASHBOARD_menu_services.InvestmentServices' | pchangelanguage}}</b></h4>
                <ul class="mega-links">
                  <li title="Fixed Deposit"><a href="/" id="icons">
                      <img src="" alt="Fixed Deposit"><span>{{'DASHBOARD_menu_services.FixedDeposit' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Gold Investment"><a href="/" id="icons">
                      <img src="" alt="Gold Investment"><span>{{'DASHBOARD_menu_services.GoldInvestment' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Demat Account"><a href="/" id="icons">
                      <img src="" alt="Demat Account"><span>{{'DASHBOARD_menu_services.DematAccount' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Insurance 2.0"><a href="/" id="icons">
                      <img src="" alt="Insurance 2.0"><span>{{'DASHBOARD_menu_services.Insurance2_0' | pchangelanguage}}</span>
                    </a>
                  </li>

                </ul>

                <h4 class="import-heading"><b>{{'DASHBOARD_menu_services.BusinessSolutionServices' | pchangelanguage}}</b></h4>
                <ul class="mega-links">
                  <li title="Instant PAN card NSDL"><a href="/" id="icons">
                      <img src="" alt="Instant PAN card NSDL"><span>{{'DASHBOARD_menu_services.InstantPANCardsNSDL' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Digital Marketing"><a href="/" id="icons">
                      <img src="" alt="Digital Marketing"><span>{{'DASHBOARD_menu_services.DigitalMarketing' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Legal Services"><a href="/" id="icons">
                      <img src="" alt="Legal Services"><span>{{'DASHBOARD_menu_services.LegalServices' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="ISO Services"><a href="/" id="icons">
                      <img src="" alt="ISO Services"><span>{{'DASHBOARD_menu_services.ISOServices' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Web Development"><a href="/" id="icons">
                      <img src="" alt="Web Development"><span>{{'DASHBOARD_menu_services.WebDevelopment' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Softwares"><a href="/" id="icons">
                      <img src="" alt="Softwares"><span>{{'DASHBOARD_menu_services.Softwares' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Copyright & Trademark"><a href="/" id="icons">
                      <img src="" alt="Copyright & Trademark"><span>{{'DASHBOARD_menu_services.CopyrightTrademark' | pchangelanguage}}</span>
                    </a>
                  </li>

                </ul>
              </div>

              <div class="row">
                <h4 class="import-heading"><b>{{'DASHBOARD_menu_services.TravelServices' | pchangelanguage}}</b></h4>
                <ul class="mega-links">
                  <li title="Hotel Booking"><a href="/" id="icons">
                      <img src="" alt="Hotel Booking"><span>{{'DASHBOARD_menu_services.HotelBooking' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Bus Booking"><a href="/" id="icons">
                      <img src="" alt="Bus Booking"><span>{{'DASHBOARD_menu_services.BusBooking' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Railway Booking"><a href="/" id="icons">
                      <img src="" alt="Railway Booking"><span>{{'DASHBOARD_menu_services.RailwayBooking' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Flight Booking"><a href="/" id="icons">
                      <img src="" alt="Flight Booking"><span>{{'DASHBOARD_menu_services.FlightBooking' | pchangelanguage}}</span>
                    </a>
                  </li>
                </ul>

                <h4 class="import-heading"><b>{{'DASHBOARD_menu_services.LoanServices' | pchangelanguage}}</b></h4>
                <ul class="mega-links">
                  <li title="Commercial Loan"><a href="/" id="icons">
                      <img src="" alt="Commercial Loan"><span>{{'DASHBOARD_menu_services.CommercialLoan' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Home Loan"><a href="/" id="icons">
                      <img src="" alt="Home Loan"><span>{{'DASHBOARD_menu_services.HomeLoan' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Instant Loan"><a href="/" id="icons">
                      <img src="" alt="Instant Loan"><span>{{'DASHBOARD_menu_services.InstantLoan' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Instant Loan 2.0"><a href="/" id="icons">
                      <img src="" alt="Instant Loan 2.0"><span>{{'DASHBOARD_menu_services.InstantLoan2_0' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Gold Loan"><a href="/" id="icons">
                      <img src="" alt="Gold Loan"><span>{{'DASHBOARD_menu_services.GoldLoan' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Digital Business Loan"><a href="/" id="icons">
                      <img src="" alt="Digital Business Loan"><span>{{'DASHBOARD_menu_services.DigitalBusinessLoan' | pchangelanguage}}</span>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="row">
                <h4 class="import-heading"><b>{{'DASHBOARD_menu_services.BillPayments' | pchangelanguage}}</b></h4>
                <ul class="mega-links">
                  <li title="Electricity Bill"><a href="/" id="icons">
                      <img src="" alt="Electricity Bill"><span>{{'DASHBOARD_menu_services.ElectricityBill' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Gas Bill"><a href="/" id="icons">
                      <img src="" alt="Gas Bill"><span>{{'DASHBOARD_menu_services.GasBill' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Water Bill"><a href="/" id="icons">
                      <img src="" alt="Water Bill"><span>{{'DASHBOARD_menu_services.WaterBill' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="LPG "><a href="/" id="icons">
                      <img src="" alt="LPG "><span>{{'DASHBOARD_menu_services.LPG' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Landline"><a href="/" id="icons">
                      <img src="" alt="Landline"><span>{{'DASHBOARD_menu_services.Landline' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Cable TV"><a href="/" id="icons">
                      <img src="" alt="Cable TV"><span>{{'DASHBOARD_menu_services.CableTV' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Broadband"><a href="/" id="icons">
                      <img src="" alt="Broadband"><span>{{'DASHBOARD_menu_services.Broadband' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Life Insurance"><a href="/" id="icons">
                      <img src="" alt="Life Insurance"><span>{{'DASHBOARD_menu_services.LifeInsurance' | pchangelanguage}}</span>
                    </a>
                  </li>

                  <li title="Health"><a href="/" id="icons">
                      <img src="" alt="Health"><span>{{'DASHBOARD_menu_services.Health' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Loan Repayment"><a href="/" id="icons">
                      <img src="" alt="Loan Repayment"><span>{{'DASHBOARD_menu_services.LoanRepayment' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Credit Card"><a href="/" id="icons">
                      <img src="/assets/images/services/CreditCard.svg" alt="Credit Card"><span>{{'DASHBOARD_menu_services.CreditCardSingle' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Hospital"><a href="/" id="icons">
                      <img src="" alt="Hospital"><span>{{'DASHBOARD_menu_services.Hospital' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Housing Society"><a href="/" id="icons">
                      <img src="" alt="Housing Society"><span>{{'DASHBOARD_menu_services.HousingSociety' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Insurance"><a href="/" id="icons">
                      <img src="" alt="Insurance"><span>{{'DASHBOARD_menu_services.Insurance' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Municipal Services"><a href="/" id="icons">
                      <img src="" alt="Municipal Services"><span>{{'DASHBOARD_menu_services.MunicipalService' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Municipal Taxes"><a href="/" id="icons">
                      <img src="" alt="Municipal Taxes"><span>{{'DASHBOARD_menu_services.MunicipalTaxes' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Subscriptions"><a href="/" id="icons">
                      <img src="" alt="Subscriptions"><span>{{'DASHBOARD_menu_services.Subscriptions' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Club & Association"><a href="/" id="icons">
                      <img src="" alt="Club & Association"><span>{{'DASHBOARD_menu_services.ClubAssociation' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="LIC India"><a href="/" id="icons">
                      <img src="" alt="LIC India"><span>{{'DASHBOARD_menu_services.LICIndia' | pchangelanguage}}</span>
                    </a>
                  </li>
                  <li title="Rent Payment"><a href="/" id="icons">
                      <img src="/assets/images/services/RentPayment.svg" alt="Health"><span>{{'DASHBOARD_menu_services.RentPayment' | pchangelanguage}}</span>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </li>

        <li><a routerLink="/passbook" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{'DASHBOARD_First.Passbook' | pchangelanguage }}</a></li>
        <li><a routerLink="" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{'DASHBOARD_First.My_Team_Dashboard' | pchangelanguage }}</a>
        </li>
        <li><a routerLink="" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{'DASHBOARD_First.My_Business_Report' | pchangelanguage }}</a>
        </li>
        <li><a routerLink="" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{'DASHBOARD_First.Commission_Sheet' | pchangelanguage }}</a>
        </li>
        <li><a routerLink="" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{'DASHBOARD_First.How_to_work' | pchangelanguage }}</a></li>
        <!-- <li><a routerLink="" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{'DASHBOARD_First.Redmil_Saarthi' | pchangelanguage }}</a></li> -->
<!-- 
        <li (click)="toggleDropdown()">
          <a style="cursor: pointer;" class="desktop-item">{{'DASHBOARD_First.user_info_policies' | pchangelanguage }}
            <mat-icon class=" arrow_rotate" [class.rotate]="isDropdownOpen" style="margin-top: 5px;">
              keyboard_arrow_down
            </mat-icon>
          </a>
          <input type="checkbox" id="showDropd" hidden>
          <label for="showDropd" class="mobile-item" (click)="toggleDropdown()">{{'DASHBOARD_First.user_info_policies' |
            pchangelanguage }}<mat-icon class=" arrow_rotate" [class.rotate]="isDropdownOpen" style="margin-top: 5px;">
              keyboard_arrow_down
            </mat-icon></label>
          <ul class="drop-menu" [class.show]="isDropdownOpen">
            <li class="demo-section"><a href="#" id="icons" target="_blank">
                <img src="assets/icons/html5.svg" alt="HTML Solution" width="50px" height="50px">
                <span> Passbook_1</span>
              </a>
            </li>

            <li><a href="#" target="_blank" id="icons">
                <img src="assets/icons/css.svg" alt="CSS Solution" width="50px" height="50px">
                <span> CSS Hindi Course</span>
              </a>
            </li>

            <li><a href="#" target="_blank" id="icons">
                <img src="assets/icons/js.svg" alt="JavaScript Solution" width="50px" height="50px">
                <span>JavaScript Hindi Course </span>
              </a>
            </li>


            <li><a href="#" id="icons">
                <img src="assets/icons/typescript.svg" alt="MongoDB " width="50px" height="50px">
                <span>TypeScript Hindi Course</span>
              </a>
            </li>

            <li><a href="#" id="icons">
                <img src="assets/icons/angular.svg" alt="Angular Solution" width="50px" height="50px">
                <span>Angular Hindi Course</span>
              </a>
            </li>

            <li><a href="#" target="_blank" id="icons">
                <img src="assets/icons/node-js.svg" alt="Node Js" width="50px" height="50px">
                <span>Node js Hindi Course</span>
              </a>
            </li>

            <li><a href="#" id="icons">
                <img src="assets/icons/mongodb.svg" alt="MongoDB " width="50px" height="50px">
                <span>MongoDB Hindi Course</span>
              </a>
            </li>

            <li><a href="#" id="icons">
                <img src="assets/icons/excel.svg" alt="MongoDB " width="50px" height="50px">
                <span>Ad.Excel Hindi Course</span>
              </a>
            </li>
          </ul>
        </li> -->


      </ul>
      <label for="menu-btn" class="btn menu-btn"><i><mat-icon>menu</mat-icon></i></label>
    </div>
  </nav>
</header>

<!-- <ng-lottie [options]="options" (animationCreated)="animationCreated($event)" />  -->