

<div class="dialog-container" [@dialogAnimation]>

  <button mat-icon-button class="close-icon" (click)="closeDialog()">
    <mat-icon (click)="closeDialog()">close</mat-icon>
  </button>
    <br>
      <!-- Image (Dynamic) -->
      <div class="dialog-image">
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)" class="dialog_image_library"/>
      </div>
      <br>
    <!-- Title (Dynamic) -->
    <h1 [ngClass]="{
      'success-class': data.status === 'Success',
      'pending-class': data.status === 'Pending',
      'failed-class': data.status === 'Failed',
      'error-class': data.status === 'Error'
    }" class="heading_dialog">
      {{ data.title }}
    </h1>
    <!-- Message (Dynamic) -->
    <p>{{ data.message }}</p>
     
    <!-- Additional Information (Dynamic) -->
    <p>{{ data.additionalInfo }}</p>
  
    <!-- Dynamic List -->
    <ul>
      <li *ngFor="let item of data.list">{{ item }}</li>
    </ul>
    <br>
      <button class="btn" (click)="closeDialog()">
        OK
      </button>
  </div>
  