::ng-deep .mat-mdc-dialog-panel{
  width: 100% !important;
  max-width: 450px !important;
  min-width: 400px !important;
  margin: 10% !important;
  height: auto !important;
 
  overflow: hidden !important;
  border-radius: 15px !important;
  margin: 2% 0%;
  background-color: #FAFAFA !important;
  overflow:hidden  !important;
}

::ng-deep .mat-mdc-dialog-component-host{
display: block !important;
background-color: #FAFAFA !important;
overflow:hidden  !important;
}

.dialog-container {
  position: relative;
  padding: 20px;
  width: 100%;
  max-width: 600px !important;
  max-width: -webkit-fill-available;
  color: #012643;
  text-align: center;
  font-weight: 600;

  }
  
  .dialog-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .dialog_image_library {
      width: 20%;
      border-radius: 8px;
      
    }
  }
  
  .dialog-content {
    text-align: center;
  
    h2 {
      margin-top: 0;
      font-size: 24px;
    }
  
    p {
      margin: 10px 0;
      line-height: 1.5;
      font-size: 16px;
    }
  }
  
  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #333;
  }

  .btn{
    background: #001b3f;
    padding: 8px 50px;
    letter-spacing: 1px;
    margin-top: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;

  }
  
  @media (max-width: 480px) {
    .dialog-container {
      max-width: 100%;
      padding: 15px;
    }
  
    .dialog-content h2 {
      font-size: 20px;
    }
  
    .dialog-content p {
      font-size: 14px;
    }
  }
  

 
  


  .custom-dialog-container {
    animation: fadeIn 400ms ease-out, fadeOut 500ms ease-in;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  
