<div class="alerts-container w-full">
    <div class="alert-row rounded-full space-x-4">
        <div class="alerts-right flex items-center space-x-2 text-white">
            <img src="/assets/images/dashboard/alerts.svg" alt="">
            <p>Alerts</p>
        </div>
        <!-- <div class="align-middle alert-box" *ngFor="let notificationsitem of notificationsData"  [style.top]="scrollPosition + 'px'">
                <p>{{notificationsitem?.Title}}</p>
        </div> -->
        <div class="align-middle alert-box" >
          <p>Welcome to Redmil Business Mall Web Version</p>
    </div>
    </div>
</div>