.alerts-container {
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.alert-row {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 2px solid #C7C7C7;

}

.alerts-right {
    padding: 5px 10px;
    background-color: #012643;
    border-bottom-left-radius: 70px;
    border-top-left-radius: 70px;
    border: 2px solid #012643;
}

.alert-scroll {
    overflow: hidden;
    height: 45px; /* Adjust the height as needed */
    display: flex;
    flex-direction: column;
    position: relative;
}

.align-middle {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 5s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

/* Media Query for Mobile */
@media screen and (max-device-width: 480px) {
    .alerts-container {
        width: 95%;
        margin: auto;
    }

    .align-middle {
        font-size: 14px;
    }
}
