<div class="container_Login">
<div class="slider-section">
    <div class="slider">
      <div class="slides">
        <div class="slide" *ngFor="let slide of slides; let i = index" [class.actives]="i === currentIndex">
          <img [src]="slide.image" [alt]="slide.title">
        </div>
      </div>
      <div class="dots">
        <span *ngFor="let slide of slides; let i = index" [class.actives]="i === currentIndex"
          (click)="goToSlide(i)"></span>
      </div>
    </div>
  </div>
  </div>