<div class="container_browse">
    <div class="header_browse">
        <h1>Browse Plans</h1>
        <span class="close-icon" mat-dialog-close>&#10006;</span>
    </div>

    <div class="tabs-container">
        <button class="nav-button left" (click)="scrollTabs('left')">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
                <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
            </svg>
        </button>

        <div class="tabs_browse" #tabsContainer>
            <button *ngFor="let tab of tabs" [class.active]="tab ===  activeTab" (click)="selectTab(tab)">
                {{ tab }}
            </button>
        </div>

        <button class="nav-button right" (click)="scrollTabs('right')"><svg xmlns="http://www.w3.org/2000/svg"
                height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
                <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
            </svg></button>
    </div>

    <div class="search-bar_browse">
        <input type="text"  (input)="searchPlan()"  placeholder="Search Plan or Amount" [(ngModel)]="searchQuery" />
        <button (click)="searchPlan()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
                <path
                    d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
            </svg>
        </button>
    </div> 

    <div class="plans_browse">
        <div *ngIf="filteredPlans.length > 0">
            <div class="plan_browse"  (click)="selectPlan(plan)"  *ngFor="let plan of filteredPlans">
                <div class="plan_browse_top_center">
                    <div class="price_browse">₹{{ plan.Rs }}</div>
                    <div class="details_browse"><h3>{{ plan.Validity }}</h3></div>
                    <button class="button_browse" >Select Plan</button>
                </div>
               
                <div class="plan_browse_para">
                    <p>{{ plan.Desc }}</p>
                </div>
            </div>
        </div>
       
         <!-- Agar koi plan available nahi hai -->
     <div *ngIf="filteredPlans.length === 0">
        <p>No plans available for this category.</p>
    </div>
    </div>
</div>