* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #DAF0FF !important;
    box-shadow: 0px 0px 5px #ccc;
    border-bottom: 5px solid #00A9E1;
    margin-top: 57px;

  }
  
  nav .wrapper {
    position: relative;
    max-width: 100%;
    padding: 0px 0px;
    height: 52px;
    line-height:52px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .wrapper .logo {
    width: 230px;
    height: 75px;
    display: contents;
  }
  
  .wrapper .logo h2 img {
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .wrapper .logo h2 {
    padding: 0px 20px;
  }
  
  
  .wrapper .nav-links {
    display: inline-flex;
  }
  
  .nav-links li {
    list-style: none;
    margin: 0px 0px;
  }
  
  .nav-links li a.active {
    background: #00A9E1;
    color: #fff;
    font-weight: 400;
    border-right: 2px solid transparent;
  }
  
  
  .nav-links li a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    padding: 0px 15px;
    transition: all 0.3s ease;
    border-right: 2px solid #fff;
    display: inline-block;
  }
  
  mat-icon {
    -webkit-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 18px;
    width: 24px;
    overflow: hidden;
    color: #000000;
  }

  
  #icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  #icons img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    padding: 5px;
  }


  .active{
    font-weight: bold;
    color: #1976d2;
  }
  
  .nav-links>li>span{
    border-radius: 50px;
    border: 1px solid #ffffff;
    padding: 10px 14px;
    background: #ff4500;
    cursor: pointer;
    padding: 10px 12px;
  }
  
  .nav-links li:hover  mat-icon {
    color: #fff !important;
    cursor: pointer;
    background-color: #00A9E1;
    transform: rotate3d(45deg);
  }
  
  .nav-links li a:hover {
    background: #00A9E1;
    color: #fff;
    font-weight: 400;
    border-right: 2px solid transparent;
  }
  
  .nav-links .mobile-item {
    display: none;
  }
  
  /* Hide dropdown by default */
.drop-menu {
    display: none;
    position: absolute;
    background: #072538;
    max-width: 100%;
    line-height: 45px;
    top: 55px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease-in;

    a{
        width: 100%;
    display: block;
    padding: 0px 5px;
    font-weight: 400;
    border-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    }

  }
  
  /* Show dropdown when 'show' class is applied */
  .drop-menu.show {
    display: block;
  }

   /* Show dropdown when 'show' class is applied */
   .drop-menu.show1 {
    display: block;
  }

  /* Default state for the icon */
mat-icon {
    transition: transform 0.3s ease; /* Smooth transition */
  }

  .arrow_rotate1{
    transition: transform 0.3s ease; /* Smooth transition */
  }
  
  .rotate1 {
    transform: rotate(180deg);
  }
  /* When dropdown is open, rotate the icon by 180 degrees */
  .rotate {
    transform: rotate(180deg);
  }


  

  
  .wrapper .btn {
    color: #444;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  
  .wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
  }
  
  
  @media screen and (max-width: 992px) {
    nav{
      position: absolute;
      z-index: 1000;
      width: 100%;
      height: 65px;
      background-color: transparent !important;
      box-shadow: 0px 0px 5px transparent;
      border-bottom: 5px solid #00A9E1;
      margin-top: -65px;
  }
    nav .wrapper{
      padding: 0px 0px;
    }
    .wrapper .btn {
      display: block;
      padding-right: 25px;
      color: #fff;
    }
  
  
    .wrapper .nav-links {
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 100%;
      top: 0;
      left: -100%;
      background: #072538;
      display: block;
      padding: 50px 0px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
      transition: all 0.3s ease;
    }
  
    /* custom scroll bar */
    ::-webkit-scrollbar {
      width: 10px;
    }
  
    ::-webkit-scrollbar-track {
      background: transparent;
    }
  
    ::-webkit-scrollbar-thumb {
      background: #ff4500;
      border-radius: 10px;
    }
  
    #menu-btn:checked~.nav-links {
      left: 0%;
    }
  
    #menu-btn:checked~.btn.menu-btn {
      display: block;
      color: #fff;
    }
  
    #close-btn:checked~.btn.menu-btn {
      display: block;
      color: #fff;
    }
  
   
    .nav-links li {
      margin: 15px 10px;
      padding: 0 10px;
      display: block;
      font-size: 20px;
    }
  
    .nav-links li a {
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }
  
   
    .drop-menu {
        position: relative;
        top: 0;
        width: 100%;
        background: #fff; /* Adjust background if necessary */
        padding: 10px;
        box-shadow: none;
      }
      .drop-menu li {
        display: block;
        padding: 15px 0;
      }
   
    
    .nav-links .desktop-item {
      display: none !important;
    }
  
    // #desktop-link {
    //   display: none;
    // }
  
    .nav-links .mobile-item {
      display: block;
      color: #fff;
      font-size: 20px;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
  
    .nav-links .mobile-item:hover {
      background: #010107;
      color: #fff;
    }
  
    .drop-menu li {
      margin: 0;
    }
  
    .drop-menu li a {
      border-radius: 5px;
      font-size: 18px;
    }
  }
  
  nav input {
    display: none;
  }
  
  .body-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
  
  .body-text div {
    font-size: 45px;
    font-weight: 600;
  }