/* Utility classes */

.mt-1 {
    margin-top: 1rem;
  }
  
  .text-center {
    text-align: center;
  }
  

 .bg-btn-green{
  background-color: #03AB00;
 }
 .text-white{
  color: #fff;
 }
 .text-transparent{
  color: transparent;
 }
 .bg-transparent{
  background-color: transparent;
 }