/* Utility classes */

.mt-1 {
    margin-top: 1rem;
  }
  
  .text-center {
    text-align: center;
  }
  

 .bg-btn-green{
  background-color: #03AB00;
 }
 .text-white{
  color: #fff;
 }
 .text-transparent{
  color: transparent;
 }
 .bg-transparent{
  background-color: transparent;
 }



//acitve class
.active{
  background: #00A9E1;
  color: #fff !important;
  border-bottom: 2px solid #00A9E1;
}


 
 
  //Dynamic Classes for Dialog Box
  .success-class {
    color: green;
  }
  
  .pending-class {
    color: orange;
    background-color: #fff5e0;
  }
  
  .failed-class {
    color: red;
    background-color: #ffe0e0;
  }
  
  .error-class {
    color: darkred;
    background-color: #ffe0e0;
  }
  