/* Global variables */

$primary-color: #3498db;
$secondary-color: #012643;

$other-text-color: #00749a;
$other-bg-color: #03AB00;

//for hover
$color-hover:#00467D;

$font-family: 'Roboto', sans-serif;
$font-size-base: 16px;


// Light theme variables
$background-color-light: #FFFFFF;
$text-color-light: #012643;



// Dark theme variables
$background-color-dark: #012643;
$text-color-dark: #ffffff;
